:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #ffffff;
    background-color: #1c1c1c;

    --mealie-orange: #ec7e19 --mealie-black: #1c1c1c;
    --mealie-white: #ffffff;
    --mealie-grey: #2d2d2d;
    --mealie-hover: #f59849;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    overflow: hidden;
}

a {
    font-weight: 500;
    color: var(--mealie-orange);
    text-decoration: inherit;
}
a:hover {
    color: var(--mealie-hover);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--mealie-black);
    color: var(--mealie-white);
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: var(--mealie-orange);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--mealie-orange);
    color: var(--mealie-white);
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover {
    background-color: var(--mealie-hover);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    background-color: var(--mealie-grey);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--mealie-white);
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--mealie-black);
        background-color: var(--mealie-white);
    }
    a:hover {
        color: var(--mealie-hover);
    }
    button {
        background-color: var(--mealie-orange);
        color: var(--mealie-white);
    }
    body {
        background-color: var(--mealie-white);
        color: var(--mealie-black);
    }
    .card {
        background-color: #f4f4f4;
        color: var(--mealie-black);
    }
}
